<div id="graph" class="graph" ng-controller="GraphController">
<iframe src="https://piraccini.it:8443/grafana/dashboard-solo/db/home?panelId=3&fullscreen&theme=light" width="700" height="250" frameborder="0"></iframe>
<iframe src="https://piraccini.it:8443/grafana/dashboard-solo/db/home?panelId=2&fullscreen&theme=light" width="700" height="250" frameborder="0"></iframe>
<iframe src="https://piraccini.it:8443/grafana/dashboard-solo/db/home?panelId=4&fullscreen&theme=light" width="700" height="250" frameborder="0"></iframe>

</div>
